body{
    background-color: #A5BDFD;
    height: auto;
    width: auto;
}

header{
    /* background-color: #78c093; */
    background-color: #1abc9c;
    text-align: center;
    font-size: large;
    font-family: "Copperplate", "Papyrus", fantasy;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    background-color: rgba(119, 82, 158, 0.718);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D9F2FF;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #abbfc9;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


.title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: "Copperplate", "Papyrus", fantasy;
    color: #D9F2FF;
}

.text-slide {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slideshow-container {
    max-height: 600px;
    /* object-fit: scale-down; */
    /* border: #77529e; */
    margin-bottom: 5%;
}

.slide {
    height: 100%;
    display: none;
    padding: 80px;
    text-align: center;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #77529e;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  

.prev:hover, .next:hover {
    background-color: #DCB5FF;
    color: #D9F2FF;
}
  




















/* 
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
 */




